[Desktop Entry]
Type=Application
Name=Zenith Welcome
Exec=/usr/lib/zenith/zenith-welcome-once
OnlyShowIn=KDE;
NoDisplay=true
X-KDE-Autostart-enabled=true
