[Desktop Entry]
Type=Application
Name=Zenith Session Setup
Exec=/usr/lib/zenith/zenith-session-setup
OnlyShowIn=KDE;
NoDisplay=true
X-KDE-Autostart-enabled=true
